.cards {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  position: absolute;
  // left:20%;
  bottom: 110px;
  height: 0px;
  background-color: brown;
  .card {
    cursor: pointer;
    position: absolute;
    transform: translateZ(0);
    transform-origin: 50% 200%;
    transition: all 0.35s ease-in-out;
  }

  .hide-card {
    background-image: var(--back-card-url);
    background-size: 150px 230px;
    background-repeat: no-repeat;
  }

  .active {
    animation: move 0.35s cubic-bezier(0, -0.5, 0.5, 1) forwards 1;
    transition: transform 2s ease-in-out;
  }

  .card:hover:not(.active) {
    animation: moveHover 0.35s cubic-bezier(1, -0.5, 0.5, 1) forwards 1;
  }

  @for $i from 1 through 13 {
    .card:nth-child(#{$i}) {
      $move: $i * 50;
      $deg: ($i - 4.1) * 5.4;
      transform: rotateZ($deg + deg);
    }
  }
}

@keyframes move {
  to {
    transform: translateY(-110px);
  }
}

@keyframes moveHover {
  0% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}

/*#region Card style */
.box-canvas {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  margin-bottom: 8%;
  width: 600px;
  height: 600px;
  background: var(--background-color);
}

.playing-card {
  // background: white;
  width: 150px;
  height: 230px;
  // border: 1px solid #b4b4b4;
  border-radius: 5%;
}

.spade {
  right: 120px;
  top: 5px;
  // transform: rotate(20deg);
}

.diamond {
  right: 160px;
  // transform: rotate(10deg);
}

.club {
  right: 200px;
  // transform: rotate(0deg);
}

.heart {
  right: 240px;
  // transform: rotate(-10deg);
}

.spade-main {
  position: absolute;
  top: 100px;
  left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
}

.spade-main::before {
  content: "";
  position: absolute;
  left: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
}

.spade-main::after {
  content: "";
  position: absolute;
  left: 18px;
  top: -19px;
  width: 54px;
  height: 54px;
  background: black;
  transform: rotate(45deg);
}

.stalk {
  position: absolute;
  top: 40px;
  left: 30px;
  height: 0;
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid black;
}

.corner-detail {
  position: absolute;
}

.bottom {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.diamond .corner-detail::before,
.heart .corner-detail::before {
  color: red;
}

.corner-detail::before {
  content: attr(data-content);
  position: absolute;
  left: 14px;
  top: 10px;
  font-family: sans-serif;
  font-size: 22px;
}

.diamond-small {
  position: absolute;
  top: 40px;
  left: 12px;
  background: red;
  width: 20px;
  height: 25px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.spade .corner-detail::after,
.club .corner-detail::after {
  content: "";
  position: absolute;
  top: 55px;
  left: 18px;
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
}

.spade-small,
.club-small {
  position: absolute;
  top: 45px;
  left: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
}

.spade-small::before,
.club-small::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: black;
}

.spade-small::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: 14px;
  height: 14px;
  background: black;
  transform: rotate(45deg);
}

.club-small::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -8px;
  width: 14px;
  height: 14px;
  background: black;
  border-radius: 50%;
}

.heart-small {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: red;
}

.heart-small::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: red;
}

.heart-small::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 12px solid transparent;
  border-top: 13px solid red;
}
/*#endregion Card style */
