<ng-container *ngIf="this.userData?.name; else setUserName">
    <div>
        <h1>Salas</h1>
        <ul>
            <ng-container *ngFor="let room of rooms">
                <li style="cursor: pointer;" [routerLink]="['room/' + room]">
                    <h3>{{ room | titlecase }}</h3>
                </li>
            </ng-container>
        </ul>

        <br>
        <hr>
        <br>

        <div>
            <label for="new-room">Nova sala</label>
            <br>
            <input type="text" name="" id="new-room">
            <button (click)="createNewRoom()">Criar</button>
        </div>
    </div>
</ng-container>

<ng-template #setUserName>
    <div>
        <label for="user-name">Informe um nome de usuário</label>
        <br>
        <input type="text" name="" id="user-name">
        <button (click)="saveUserName()">Salvar</button>
    </div>
</ng-template>