<div>
  <img src="./assets/img/mr_incredible_0.png" *ngIf="value <= 1" @Fading>
  <img src="./assets/img/mr_incredible_1.png" *ngIf="value > 1 && value <= 3" @Fading>
  <img src="./assets/img/mr_incredible_2.png" *ngIf="value > 3 && value <= 5" @Fading>
  <img src="./assets/img/mr_incredible_3.png" *ngIf="value > 5 && value <= 8" @Fading>
  <img src="./assets/img/mr_incredible_4.png" *ngIf="value > 8 && value <= 9" @Fading>
  <img src="./assets/img/mr_incredible_5.png" *ngIf="value > 9 && value <= 20" @Fading>
  <img src="./assets/img/mr_incredible_6.png" *ngIf="value > 20 && value <= 30" @Fading>
  <img src="./assets/img/mr_incredible_7.png" *ngIf="value > 30 && value <= 40" @Fading>
  <img src="./assets/img/mr_incredible_8.png" *ngIf="value > 40 && value <= 70" @Fading>
  <img src="./assets/img/mr_incredible_9.png" *ngIf="value > 70" @Fading>
</div>