<ng-container *ngIf="loading; else showRoom">
    <app-loading></app-loading>
</ng-container>

<ng-template #showRoom>
    <div>
        <div class="grid-container">
            <div *ngFor="let remoteUser of filterPlayers(); trackBy: trackUser" @Fading>
                <div class="grid-item" *ngIf="remoteUser.name != session.user?.name && remoteUser.name != nameBefore">
                    <single-card [revealCardEvent]="revealCardEvent" [user]="remoteUser"
                        [enableRemoveUser]="enableRemoveUser"></single-card>
                </div>
            </div>
        </div>
        <div *ngIf="reveal" @Fading>
            <div class="average">
                <span style="font-size: 2rem;">{{ average }}</span>

            </div>
            <!-- <div style="width:100vw; display: flex; justify-content: center;">
                <app-point-react [value]="average"></app-point-react>
            </div> -->

        </div>
        <div class="current-player" *ngIf="!session.user?.isSpectator">
            <div>
                <app-poker-card [revealCard]="reveal"></app-poker-card>
            </div>
        </div>
        <div>
            <div style="margin-left: 20px;" *ngIf="filterSpactators().length  > 0">
                <h4>Espectadores</h4>
                <ul>
                    <li *ngFor="let s of filterSpactators()">
                        <span>{{ s.name }}</span>
                        <span *ngIf="enableRemoveUser | async" (click)="removeUser(s.name)"
                            class="ms-2 text-danger cursor-pointer">x</span>
                    </li>
                </ul>
            </div>
            <div style="position: fixed; bottom: 5px; margin-left: 20px;">
                <div>{{ spactatorCount }} {{ spactatorCount > 1 ? 'Espectadores' : 'Espectador'}}</div>
                <div>{{ playerCount }} {{ playerCount > 1 ? 'Jogadores' : 'Jogador'}}</div>
                <div style="margin-top: 10px;" *ngIf="!session.user?.isSpectator">
                    <button (click)="revealCards()">Virar</button>
                    <button (click)="hideCards()">Desvirar</button>
                    <!-- <button (click)="resetCards()">Revotar</button> -->
                </div>
            </div>
            <div style="position: fixed; bottom: 5px; margin-left: 85%;">
                <label for="">Nome atual: {{ session.user?.name }}</label>
                <input type="text" name="newName" id="newName" placeholder="Novo nome">
                <button (click)="alterName()">Alterar nome</button>
            </div>
        </div>
    </div>
</ng-template>