<ng-container *ngIf="loading; else showRoom">
    <app-loading></app-loading>
</ng-container>

<ng-template #showRoom>
    <div>
        <div class="grid-container">
            <div *ngFor="let u of users" @Fading>
                <div class="grid-item">
                    <single-card [revealCardEvent]="revealCard" [user]="u"></single-card>
                </div>
            </div>
        </div>
        <div *ngIf="reveal" @Fading>
            <div class="average">
                <span style="font-size: 2rem;">{{ average }}</span>

            </div>
            <div style="width:100vw; display: flex; justify-content: center;">                
                <app-point-react [value]="average"></app-point-react>
            </div>
        </div>
        <div class="current-player">
            <div style="position: relative;">
                <app-poker-card [roomName]="roomName" [user]="user"></app-poker-card>
            </div>
            <div>
                <br><br>
                <button (click)="revealCards()">Virar</button>
                <button (click)="hideCards()">Desvirar</button>
                <br><br>
            </div>
        </div>
    </div>
</ng-template>