<div class="cards">
  <div class="card">
    <div class="playing-card spade" [ngClass]="{'hide-card': !revealCard}">
      <ng-container *ngIf="revealCard">
        <div class="corner-detail" [attr.data-content]="1">
          <div class="spade-small">
          </div>
        </div>
        <div class="spade-main">
          <div class="stalk"></div>
        </div>
        <div class="corner-detail bottom">
          <div class="spade-small">
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>